/*---------header------------------------------------------------------*/
#header{width:100%; height:80px; position: fixed; z-index: 2; }
#header a{color: #fff;}

#header.on{background: #fff; box-shadow: 0px 3px 10px rgba(0,0,0,0.1);}
#header.on a{color: #444;}

@media screen and (max-width:768px){
    #header {height:70px;}
}
@media screen and (max-width:480px){
    #header{height:50px;}
}


/*---------visual------------------------------------------------------*/
#visual{position: relative; width:100%; height:100vh; padding-top: 80px; overflow: hidden; z-index: 0;}
#visual .swiper-container{position: absolute; top:0px; width:50%; height:100%;}
#visual .swiper-container .swiper-slide{width:100%;}
/*--left------*/
#visual .left{left:0;}
#visual .left .swiper-slide{background-repeat: no-repeat; background-size: cover; background-position: center;}
#visual .left .swiper-slide:nth-of-type(1){background-image: url(../img/visual_left_01.jpg);}
#visual .left .swiper-slide:nth-of-type(2){background-image: url(../img/visual_left_02.jpg);}
#visual .left .swiper-slide:nth-of-type(3){background-image: url(../img/visual_left_03.jpg);}

#visual .left .swiper-slide .msg{display: none;}
/*--right------*/
#visual .right{right:0; background: #029846;}
#visual .right .swiper-slide{opacity:0;}
#visual .right .swiper-slide .msg{position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
#visual .right .swiper-slide .msg span{display:inline-block;}
#visual .right .swiper-slide .msg .txt,
#visual .right .swiper-slide .msg .txt_01{opacity: 0; transform:translateY(-30px); transition: 0.5s 0.2s;}
#visual .right .swiper-slide .msg .title_01{opacity: 0; transform:translateY(30px); transition: 0.5s 0.4s;}
#visual .right .swiper-slide .msg .title_02,
#visual .right .swiper-slide .msg .title_03{opacity: 0; transform:translateY(30px); transition: 0.5s 0.6s;}

#visual .right .swiper-slide .msg .more{
    width:170px; height:50px; border: 2px solid #fff; border-radius: 30px; margin-top:60px;
    opacity:0; transition: 0.5s 0.8s;
}
#visual .right .swiper-slide .msg .more>a{display: block; font-size:14px; font-weight: bold; color: #fff; text-align: center; line-height: 50px; }

/*--active--*/
#visual .right .swiper-slide-active{opacity:1;}
#visual .right .swiper-slide-active .msg .txt,
#visual .right .swiper-slide-active .msg .txt_01{opacity: 1; transform:translateY(0px);}
#visual .right .swiper-slide-active .msg .title_01{opacity:1; transform:translateY(0px);}
#visual .right .swiper-slide-active .msg .title_02,
#visual .right .swiper-slide-active .msg .title_03{opacity:1; transform:translateY(0px);}
#visual .right .swiper-slide-active .msg .more{opacity:1;}

#visual .right .swiper-slide.box_01 .msg{left:53%;}
#visual .right .swiper-slide.box_01 .msg .txt{font-size:18px; color: #fff;}
#visual .right .swiper-slide.box_01 .msg .title_01{font-size:50px; font-weight:bold; margin:30px 0 20px; color: #fff; }
#visual .right .swiper-slide.box_01 .msg .title_02{font-size:90px; font-weight:bold; letter-spacing: 20px;  margin-bottom:10px; color:#ffce33;}
#visual .right .swiper-slide.box_01 .msg .title_03{font-size:70px; font-weight:bold; color:#ffce33;}

#visual .right .swiper-slide.box_02 .msg{left:47%;}
#visual .right .swiper-slide.box_02 .msg .txt{font-size:24px; color: #ffce33; padding-left:20px;}
#visual .right .swiper-slide.box_02 .msg .txt_01{font-size:18px; color: #fff;}
#visual .right .swiper-slide.box_02 .msg .title_01{font-size:90px; color: #ffce33; font-weight:bold; margin:30px 0 20px; }
#visual .right .swiper-slide.box_02 .msg .title_02{font-size:90px; color: #ffce33;}
#visual .right .swiper-slide.box_02 .msg .title_03{font-size:90px; color: #fff;}

#visual .right .swiper-slide.box_03 .msg{left:48%;}
#visual .right .swiper-slide.box_03 .msg .txt{font-size:24px; color: #fff;  padding-left:20px;}
#visual .right .swiper-slide.box_03 .msg .title_01{font-size:90px; color: #ffce33; font-weight:bold; margin:20px 0 20px; }
#visual .right .swiper-slide.box_03 .msg .title_02{font-size:70px; color: #fff;}
/*--center------*/
#visual .center{
    top:28%; left:33%; width:600px;
    animation: center_slide_rotate 18s infinite linear; transition: 0.5s;
}
#visual .center .swiper-slide img{width:100%; opacity:0; transition:0.4s;}
#visual .center .swiper-slide-active img{opacity:1;}
/*--icon------*/
#visual .icon-btn{position: absolute; right:3%; top:30%; z-index: 3;}
#visual .icon-btn .icon{margin-bottom:20px;}
#visual .icon-btn .circle{width:60px; height:60px; border-radius: 100%; background: #03863e; box-shadow: 5px 5px 5px rgba(0,0,0,0.2); transition: 0.5s;}
#visual .icon-btn .circle>a{display: block; font-size:20px; color: #fff;  text-align: center; line-height: 60px;}
#visual .icon-btn .name{text-align: center; margin-top:10px; font-size: 14px; color: #fff;}
#visual .icon-btn .circle:hover{background: #ffce33;}
/*--btn------*/
#visual .swiper-btn{position: absolute; left: 50%; bottom: 45px; z-index: 10; transform: translateX(-50%); width: 620px; z-index: 1;}
#visual .swiper-btn .swiper-button-next,
#visual .swiper-btn .swiper-button-prev{width: 300px; height: 100px; overflow: hidden; border: 0; outline: 0;}
#visual .swiper-btn .swiper-button-next::after,
#visual .swiper-btn .swiper-button-prev::after{
    position: absolute; left: 0px; top: 0px; width: 100%; height: 180%; padding: 30px 4rem; box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7); border-radius: 100%; font-size:16px; line-height: 24px; color: white; 
}
#visual .swiper-btn .swiper-button-next::after{content: 'NEXT'; left: -51%; text-align: right}
#visual .swiper-btn .swiper-button-prev::after{content: 'PREV'; left: 51%; text-align: left}
@keyframes center_slide_rotate{
    10%, 30%, 50%, 70%, 90%{transform: rotate(4deg);}
    20%, 40%, 60%, 80%, 100%{transform: rotate(-4deg);}
}
#visual .swiper-pagination-fraction{
    position: absolute; left: 50%; bottom: -10px; transform: translateX(-50%); 
    width: 70px; height: 70px; border-radius: 100%; background: #029846; font-size: 30px; color: white;
    line-height: 64px; border: 3px solid white;
}
#visual .swiper-pagination-fraction span.slash,
#visual .swiper-pagination-fraction span.swiper-pagination-total{display: none}

@media screen and (max-width:1200px){
    #visual{height:800px;}

    #visual .center{top:65%; left:39%; width:250px;}

    #visual .right .swiper-slide.box_01 .msg{left:43%; bottom:3%;}
    #visual .right .swiper-slide.box_01 .msg .txt{font-size:17px; margin-left:5px;}
    #visual .right .swiper-slide.box_01 .msg .title_01{font-size:34px; margin:30px 0 20px;}
    #visual .right .swiper-slide.box_01 .msg .title_02{font-size:69px; letter-spacing: 7px;}
    #visual .right .swiper-slide.box_01 .msg .title_03{font-size:49px; }

    #visual .right .swiper-slide.box_02 .msg{left:38%; bottom:8%;}
    #visual .right .swiper-slide.box_02 .msg .txt{font-size:17px;}
    #visual .right .swiper-slide.box_02 .msg .txt_01{font-size:15px; }
    #visual .right .swiper-slide.box_02 .msg .title_01{font-size:59px; margin:20px 0 10px; }
    #visual .right .swiper-slide.box_02 .msg .title_02{font-size:59px; }
    #visual .right .swiper-slide.box_02 .msg .title_03{font-size:59px; }

    #visual .right .swiper-slide.box_03 .msg{left:42%; bottom:7%;}
    #visual .right .swiper-slide.box_03 .msg .txt{font-size:17px;}
    #visual .right .swiper-slide.box_03 .msg .title_01{font-size:69px;}
    #visual .right .swiper-slide.box_03 .msg .title_02{font-size:35px; }

    #visual .right .swiper-slide .msg .more{width:150px; height:45px; margin-top:40px;}
    #visual .right .swiper-slide .msg .more>a{font-size:14px; line-height: 45px; }

    #visual .icon-btn .circle{width:45px; height:45px; margin:0 auto;}
    #visual .icon-btn .circle>a{font-size:20px; line-height: 45px;}
    #visual .icon-btn .name{ font-size:14px;}

    #visual .swiper-pagination-fraction{bottom: 0px; width: 60px; height: 60px; font-size: 24px; line-height: 54px;}

}

@media screen and (max-width:980px){
    #visual{height:700px;}
    #visual .icon-btn{display: none;}

    #visual .center{top:65%; left:37%; width:200px;}

    #visual .right .swiper-slide.box_01 .msg{left:50%; bottom:3%;}
    #visual .right .swiper-slide.box_01 .msg .txt{font-size:17px;}
    #visual .right .swiper-slide.box_01 .msg .title_01{font-size:28px; margin:20px 0 10px;}
    #visual .right .swiper-slide.box_01 .msg .title_02{font-size:54px;}
    #visual .right .swiper-slide.box_01 .msg .title_03{font-size:40px; }

    #visual .right .swiper-slide.box_02 .msg{left:45%; bottom:8%;}
    #visual .right .swiper-slide.box_02 .msg .txt{font-size:17px;}
    #visual .right .swiper-slide.box_02 .msg .txt_01{font-size:15px; }
    #visual .right .swiper-slide.box_02 .msg .title_01{font-size:53px; margin:20px 0 10px; }
    #visual .right .swiper-slide.box_02 .msg .title_02{font-size:51px; }
    #visual .right .swiper-slide.box_02 .msg .title_03{font-size:51px; }

    #visual .right .swiper-slide.box_03 .msg{left:46%; bottom:7%;}
    #visual .right .swiper-slide.box_03 .msg .txt{font-size:17px;}
    #visual .right .swiper-slide.box_03 .msg .title_01{font-size:53px;}
    #visual .right .swiper-slide.box_03 .msg .title_02{font-size:30px; }

    
    #visual .swiper-btn{bottom: 38px;}
    #visual .swiper-btn .swiper-button-next::after,
    #visual .swiper-btn .swiper-button-prev::after{width:90%; height: 169%;}

    #visual .swiper-btn .swiper-button-prev::after{left: 60%; font-size:14px;}
    #visual .swiper-btn .swiper-button-next::after{font-size:14px;}

    
}

@media screen and (max-width:768px){
    #visual{padding-top:70px;}
    #visual .swiper-container{top:70px;}
    #visual .left{width:100%; }
    #visual .left .swiper-slide .msg{position: absolute; top:35%; left:50%; transform: translate(-50%, -50%); display: block; text-align: center;}

    #visual .left .swiper-slide.copy_01 .msg .txt{font-size:15px; color: #fff;}
    #visual .left .swiper-slide.copy_01 .msg .title_01{font-size:28px; margin:10px 0 10px; color: #fff; font-weight: bold;}
    #visual .left .swiper-slide.copy_01 .msg .title_02{font-size:54px; color: #ffce33; font-weight: bold;}
    #visual .left .swiper-slide.copy_01 .msg .title_03{font-size:40px; color: #ffce33; font-weight: bold; }

    #visual .left .swiper-slide.copy_02 .msg .txt{font-size:15px; color: #ffce33;}
    #visual .left .swiper-slide.copy_02 .msg .txt_01{font-size:15px; color: #fff; }
    #visual .left .swiper-slide.copy_02 .msg .title_01{font-size:65px; margin:10px 0 10px;  color: #ffce33; font-weight: bold; }
    #visual .left .swiper-slide.copy_02 .msg .title_02{font-size:51px;  color: #ffce33; }
    #visual .left .swiper-slide.copy_02 .msg .title_03{font-size:51px;  color: #fff;}

    #visual .left .swiper-slide.copy_03 .msg .txt{font-size:15px; font-weight: 500;  color: #000;}
    #visual .left .swiper-slide.copy_03 .msg .title_01{font-size:65px;  color: #03863e; font-weight: bold; margin:10px 0 10px; }
    #visual .left .swiper-slide.copy_03 .msg .title_02{font-size:40px; font-weight: bold;   color: #000;}
    #visual .left .swiper-slide.copy_03 .msg .more{ border: 1px solid #000;}
    #visual .left .swiper-slide.copy_03 .msg .more>a{color: #000;}

    #visual .left .swiper-slide .msg .more{width:150px; height:40px; border: 1px solid #fff; border-radius: 30px; margin:30px auto 0;}
    #visual .left .swiper-slide .msg .more>a{display: block; font-size:14px; color: #fff; text-align: center; line-height: 40px; }


    #visual .right{display: none;}

    #visual .center{top:68%; left:35%;}

    #visual .swiper-pagination-fraction{width: 50px; height: 50px; font-size: 20px; line-height: 44px;}

}

@media screen and (max-width:480px){
    #visual{height:600px; padding-top:50px;}
    #visual .swiper-container{top:50px;}

    #visual .left .swiper-slide:nth-of-type(1){background-position: 3% 0 ;}
    #visual .left .swiper-slide.copy_01 .msg .txt{font-size:12px;}
    #visual .left .swiper-slide.copy_01 .msg .title_01{font-size:20px;}
    #visual .left .swiper-slide.copy_01 .msg .title_02{font-size:40px;}
    #visual .left .swiper-slide.copy_01 .msg .title_03{font-size:32px;}

    #visual .left .swiper-slide.copy_02 .msg .txt{font-size:12px;}
    #visual .left .swiper-slide.copy_02 .msg .txt_01{font-size:12px;}
    #visual .left .swiper-slide.copy_02 .msg .title_01{font-size:40px;}
    #visual .left .swiper-slide.copy_02 .msg .title_02{font-size:32px;}
    #visual .left .swiper-slide.copy_02 .msg .title_03{font-size:32px;}

    #visual .left .swiper-slide.copy_03 .msg .txt{font-size:12px;}
    #visual .left .swiper-slide.copy_03 .msg .title_01{font-size:40px; }
    #visual .left .swiper-slide.copy_03 .msg .title_02{font-size:24px;}

    #visual .left .swiper-slide .msg .more{width:120px; height:35px; border-radius: 20px; margin:20px auto 0;}
    #visual .left .swiper-slide .msg .more>a{font-size:12px;line-height: 34px; }


    #visual .center{top:68%; left:26%; width:180px;}

    #visual .swiper-pagination-fraction{width: 40px; height: 40px; font-size: 14px; line-height: 34px;}
}


/*---------menu------------------------------------------------------*/
#menu{ padding-top:120px;}
#menu .inner{width:1180px; position: relative;}
#menu .title{width:330px; margin: 0 auto;}
#menu .title img{display:block; width:100%; text-align: center;}
#menu .txt{font-size:16px; color: #777; text-align: center;}

#menu .icon_menu{position: absolute; top:188px; left:50%; transform: translate(-50%,-50%);}
#menu .icon_menu>li{float:left; padding:0 20px; text-align: center; cursor: pointer;}
#menu .icon_menu>li img{width:50px;}
#menu .icon_menu>li img:nth-of-type(1){opacity: 1;}
#menu .icon_menu>li img:nth-of-type(2){opacity: 0; margin-left:-50px;}
#menu .icon_menu>li .name{font-size:14px; color: #000;}

#menu .icon_menu>li.on img:nth-of-type(1){opacity: 0;}
#menu .icon_menu>li.on img:nth-of-type(2){opacity: 1;}
#menu .icon_menu>li.on .name{color: #ffce33;}

#menu .pannel{position: relative; margin-top:150px;}
#menu .pannel>li .box{opacity: 0; position: absolute; width:31.333%; height:400px; background: #f6f6f6; border-radius: 30px;  margin-right:3%; cursor: pointer;}
#menu .pannel>li .box:nth-of-type(1){top:0; left:0;}
#menu .pannel>li .box:nth-of-type(2){top:0; left:34%;}
#menu .pannel>li .box:nth-of-type(3){top:0; right:0; margin-right: 0;}

#menu .pannel>li.on .box{opacity: 1;}
#menu .pannel>li .box .pic{width:100%; margin-top:20px;}
#menu .pannel>li .box .pic img{width:100%;}
#menu .pannel>li .box .msg{
    position: absolute; top:75%; left:50%; transform: translate(-50%,-50%); text-align: center; width:100%;
     
}
#menu .pannel>li .box .msg .name{font-size:24px; font-weight: 500; margin-bottom:20px;}
#menu .pannel>li .box .msg span{display: inline-block; font-size:14px;}
#menu .pannel>li .box .msg .eng{font-size:14px; color: #777; margin-right:10px;}
#menu .pannel>li .box .msg .eng::after{content:''; display: inline-block; width:1px; height:15px; margin-left:10px; background: #ddd;}
#menu .pannel>li .box .msg .calorie{font-size:18px; font-weight: bold; color: #ffce33;}
#menu .pannel>li .box .intro{
    opacity:0; position: absolute; top:55%; left:50%; transform: translate(-50%, 0%); width:75%; 
    text-align: center; line-height: 24px; color: #c5e698;  
}
#menu .pannel>li .box .search{transform: scale(0,0); width:60px; height:60px; border-radius: 100%; background: #ffce33; margin:0 auto;}    
#menu .pannel>li .box .search>a{display:block; color: #fff; font-size:25px; text-align: center; line-height: 60px;}

#menu .pannel>li .box.on{background: #029846;}
#menu .pannel>li .box.on .pic{opacity: 0;}
#menu .pannel>li .box.on .msg{top:30%; transition: 0.5s;}
#menu .pannel>li .box.on .msg .name{color: #fff;}
#menu .pannel>li .box.on .msg .eng{color: #fff;}
#menu .pannel>li .box.on .intro{opacity: 1; transform: translate(-50%,-50%); transition: 0.5s 0.3s; }
#menu .pannel>li .box.on .search{opacity: 1; transform: scale(1,1);  transition: 0.5s 0.4s;}

#menu .circle_area{position: absolute; top:64%; right:-17%; width:400px; z-index: -1;}
#menu .circle_area .circle_pic{width:100%; opacity: 0.1; animation:rotate_image 20s linear infinite; transform-origin: 50% 50%;}

@keyframes rotate_image{
    100% {transform:rotate(360deg);}
}

@media screen and (max-width:1200px){
    #menu{height:800px; padding-top:100px;}
    #menu .inner{width:900px;}

    #menu .title{width:280px;}

    #menu .icon_menu{top:170px; left:49%;}
    #menu .icon_menu>li img{width:40px;}
    #menu .icon_menu>li img:nth-of-type(2){margin-left:-40px;}

    #menu .pannel{margin-top:130px;}
    #menu .pannel>li .box{width:31.333%; height:300px;}

    #menu .pannel>li .box .pic{width:250px; margin: 20px auto 0;}
    #menu .pannel>li .box .pic img{width:100%;}
    
    #menu .pannel>li .box .msg .name{font-size:20px; margin-bottom:15px;}
    #menu .pannel>li .box .msg .calorie{font-size:16px;}
    #menu .pannel>li .box .intro{font-size:14px; top:50%;}
    #menu .pannel>li .box .search{width:50px; height:50px;}    
    #menu .pannel>li .box .search>a{font-size:20px; line-height: 50px;}

    #menu .pannel>li .box.on .msg{top:25%;}

    #menu .circle_area{top:70%; right:-13%; width:250px;}

}

@media screen and (max-width:980px){
    #menu{height:700px; padding-top:80px;}
    #menu .inner{width:688px}

    #menu .pannel>li .box{height:250px;}
    #menu .pannel>li .box .pic{width:180px; margin: 10px auto 0;}

    #menu .pannel>li .box .msg .name{font-size:18px; margin-bottom:10px;}
    #menu .pannel>li .box .msg .eng{font-size:12px; margin-right:5px;}
    #menu .pannel>li .box .msg .calorie{font-size:14px;}
    #menu .pannel>li .box .intro{font-size:13px; top:55%; line-height: 20px;}
    #menu .pannel>li .box .search{width:40px; height:40px; margin-top:50px;}    
    #menu .pannel>li .box .search>a{font-size:16px; line-height: 40px;}

    
}

@media screen and (max-width:768px){
    #menu{height:990px;}
    #menu .inner{width:600px;}

    #menu .title{width:250px;}
    #menu .txt{font-size:14px;}
    #menu .icon_menu{top:150px;}
    
    #menu .pannel{margin-top:130px;}
    #menu .pannel>li .box{width:48.5%; height:291px;}
    #menu .pannel>li .box:nth-of-type(1){top:0; left:0;}
    #menu .pannel>li .box:nth-of-type(2){top:0; left:51.5%; margin-right: 0;}
    #menu .pannel>li .box:nth-of-type(3){top:311px; left:0;}

    #menu .pannel>li .box .pic{width:230px; margin: 20px auto 0;}
    #menu .pannel>li .box .search{margin-top:30px;}    

    #menu .circle_area{width:230px;}
}

@media screen and (max-width:640px){
    #menu{height:900px; padding-top:60px;}
    #menu .inner{width:440px;}

    #menu .icon_menu{width:240px; left:48%;}
    #menu .icon_menu>li{padding:0 15px}
    #menu .icon_menu>li img{width:35px;}
    #menu .icon_menu>li img:nth-of-type(2){margin-left:-35px;}

    #menu .pannel>li .box{height:270px;}
    #menu .pannel>li .box:nth-of-type(3){top:290px;}
    #menu .pannel>li .box .pic{width:180px; margin: 20px auto 0;}
    #menu .pannel>li .box .search{width:35px; height:35px; margin-top:50px;}
    #menu .pannel>li .box .search>a{font-size:14px; line-height: 35px;}  

    #menu .pannel>li .box .msg{top:72%;}

    #menu .circle_area{width:200px;}
}

@media screen and (max-width:480px){
    #menu{height:1300px;}
    #menu .inner{width:320px;}

    #menu .title{width:200px;}
    #menu .txt{font-size:13px;}

    #menu .icon_menu{width:300px; left:60%; top:120px;}
    #menu .icon_menu>li{padding:0 15px}
    #menu .icon_menu>li img{width:30px;}
    #menu .icon_menu>li img:nth-of-type(2){margin-left:-30px;}
    #menu .icon_menu>li .name{font-size:12px;}

    #menu .pannel{margin-top:100px;}
    #menu .pannel>li .box{width:100%; height:320px;}
    #menu .pannel>li .box:nth-of-type(1){top:0; left:0; margin-right:0;}
    #menu .pannel>li .box:nth-of-type(2){top:340px; left:0;}
    #menu .pannel>li .box:nth-of-type(3){top:680px; left:0;}

    #menu .pannel>li .box .pic{width:230px; margin: 20px auto 0;}
    #menu .pannel>li .box .search{width:35px; height:35px; margin-top:50px;}
    #menu .pannel>li .box .search>a{font-size:14px; line-height: 35px;}  

    #menu .circle_area{width:150px;}
}

/*---------brand------------------------------------------------------*/
#brand .inner{position: relative; width:100%; height:100%;}
#brand .box{
    position: relative; float:left; width:33.3%; height:100%;
    background-position: center; background-repeat: no-repeat; background-size: cover;
}
#brand .box::after{content: ''; display: block; position: absolute; top:0; left:0; width:100%; height:100%; background: rgba(0,0,0,0.2); transition: 0.5s;}
#brand .box:hover::after{ background: rgba(0,0,0,0.6);}
#brand .box.box:nth-of-type(1){background-image: url(../img/brand_05.jpg);}
#brand .box.box:nth-of-type(2){background-image: url(../img/brand_02.jpg);}
#brand .box.box:nth-of-type(3){background-image: url(../img/brand_04.jpg);}


#brand .box .msg{position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); text-align: center; width:45%; z-index: 2; }
#brand .box .msg .title{font-size:33px; line-height: 43px; font-weight:bold; color: #fff; margin-bottom:40px;}

#brand .box .msg .more{width:170px; height:50px; border: 1px solid #fff; border-radius: 30px; margin:0 auto; }
#brand .box .msg .more>a{display: block; font-size:14px; line-height: 50px; color: #fff;}

@media screen and (max-width:1200px){
    #brand{ padding:100px 0px;}

    #brand .box .msg{width:60%;}
    #brand .box .msg .title{font-size:24px; line-height: 34px; margin-bottom:30px;}

    #brand .box .msg .more{width:150px; height:40px;}
    #brand .box .msg .more>a{line-height: 40px;}
}

@media screen and (max-width:980px){
    #brand{height:750px; padding:80px 0px;}

    #brand .box .msg{width:80%;}
    #brand .box .msg .title{font-size:20px; line-height: 30px;}

    #brand .box .msg .more{width:140px;} 
    
}

@media screen and (max-width:768px){
    #brand{height:auto; padding:80px 40px;}
    #brand .box{width:100%; height:800px; margin-bottom:20px;}
}

@media screen and (max-width:640px){
    #brand{padding:60px 20px;}
    #brand .box{height:700px;}
    #brand .box .msg{width:70%;}
    #brand .box .msg .title{font-size:20px; line-height: 30px;}
}

@media screen and (max-width:480px){
    #brand .box{height:600px;}
    #brand .box .msg{width:60%;}
    #brand .box .msg .title{font-size:18px; line-height: 28px;}
    #brand .box .msg .more{width:130px; height:35px;}
    #brand .box .msg .more>a{font-size:12px; line-height: 34px;}

    
}

/*---------news------------------------------------------------------*/
#news{padding-top:120px; background: #f6f6f6;} 
#news .inner{width:100%; position: relative;}
#news{width:100%; height:100vh; padding-top:120px; background: #f6f6f6;}
#news .inner{width:1500px; height:100%; margin: 0 auto;}
#news .inner::after{content:''; display: block; clear: both;}
 
#news .top{position: relative; width:1300px; height:25%; margin: 0 auto; }
#news .title{float:left; width:200px;}
#news .title img{display: block; width:100%;}
#news .more{position: absolute; bottom:0; left:1%; width:150px; height:45px; 
    border-radius: 30px; background: #029846;}
#news .more>a{display: block; font-size:14px; color: #fff; line-height: 45px; text-align: center; }
#news .more>a::after{font-family: 'Font Awesome 5 Free'; content:'\f054'; color: #ffce33; font-weight: 900; margin-left:10px; }
#news .txt{position: absolute; top: 10%; left:25%; font-size: 16px; opacity:0; transform: translateY(20px); transition: 0.5s 0.3s;  }
#news .txt::before{content:''; display: block; width:15%; height:4px; background: #ffce33; margin-bottom: 20px;}
#news .txt_02{position: absolute; top: 35%; left:25%; font-size: 13px; color: #777; opacity:0; transform: translateY(20px); transition: 0.5s 0.3s; }

#news.on .txt{opacity:1; transform: translateY(0);}
#news.on .txt_02{opacity:1; transform: translateY(0);}

#news iframe{float:right;}

#news .bottom{position: relative; width:100%; height:auto; top:4%;}
#news .swiper-container{width:1300px; height:500px; margin: 0 auto;  }
#news .swiper-container .swiper-slide{width:100%;}

#news .swiper-slide{overflow: hidden; cursor: pointer;}
#news .swiper-slide .pic{
    width:100%; height:300px; border-top-right-radius:50px; overflow: hidden; transform: scale(1); transition: 0.3s; 
    background-repeat: no-repeat; background-size: cover; background-position: center;
}
#news .swiper-slide.box_01 .pic{background-image: url(../img/news_04.jpg);}
#news .swiper-slide.box_02 .pic{background-image: url(../img/news_05.jpg);}
#news .swiper-slide.box_03 .pic{background-image: url(../img/news_06.jpg);}
#news .swiper-slide.box_04 .pic{background-image: url(../img/news_07.jpg);}
#news .swiper-slide.box_05 .pic{background-image: url(../img/news_08.jpg);}

#news .swiper-slide:hover .pic{transform: scale(1.1); }

#news .swiper-slide .msg{position: absolute; top:60%; left:0; background: #fff; border: 1px solid #ddd; width:100%; height:170px; }
#news .swiper-slide .msg_wrap{width:90%; height:100%; padding:20px;}
#news .swiper-slide .msg .date{font-size:16px; font-weight: bold; color: #029846; margin-bottom: 20px;}
#news .swiper-slide .msg .news_title{font-size:18px; margin-bottom: 10px;;}
#news .swiper-slide .msg .summury{font-size:14px; line-height: 20px; color: #777;}

#news .swiper-button-prev{ transform: translateY(-120px);}
#news .swiper-button-next{ transform: translateY(-120px);}

@media screen and (max-width:1200px){
    #news{padding-top:100px;}
    #news .inner{width:900px}
    #news .top{width:100%;}
    #news .title{width:180px;}
    #news .more{bottom:0; left:1%; width:130px; height:40px;}
    #news .more>a{font-size:14px; line-height: 40px;}

    #news .txt{top: 10%; left:25%; font-size: 14px;}
    #news .txt_02{top: 35%; left:25%; font-size: 12px;  }

    #news iframe{width:350px; height:250px;}

    #news .bottom{padding:0 50px; top:6%; }
    #news .swiper-container{width:100%; height:400px;}

    #news .swiper-button-prev{ transform: translateY(9px);}
    #news .swiper-button-next{ transform: translateY(9px);}


}

@media screen and (max-width:980px){
    #news{height:1300px; padding-top:80px; }
    #news .inner{width:688px}
    #news .more{top:50%;}
    #news .txt{top: 14%; left:40%; font-size: 14px;}
    #news .txt_02{top: 35%; left:40%; font-size: 12px;}  

    #news iframe{position: absolute; top:84%; left:0; width:100%; height:400px;}
    #news .bottom{padding:0 50px; top:38%; }

    #news .swiper-slide .msg{position: absolute; top:57%; height:170px; }
    #news .swiper-slide .msg_wrap{width:90%;  padding: 20px 0 20px 20px;}
    #news .swiper-slide .msg .date{font-size:14px; margin-bottom: 10px;}
    #news .swiper-slide .msg .news_title{font-size:16px; line-height: 26px; margin-bottom: 8px;}
    #news .swiper-slide .msg .summury{font-size:13px; }

    #news .swiper-button-prev{ transform: translateY(-22px);}
    #news .swiper-button-next{ transform: translateY(-22px);}

}

@media screen and (max-width:768px){
    #news .inner{width:600px}
}

@media screen and (max-width:640px){
    #news{height:1000px; padding-top:60px;}
    #news .inner{width:440px}

    #news .title{width:150px;}
    #news .more{top:53%; width:120px; height:35px;}
    #news .more>a{line-height: 35px;}
    #news .txt_02{top: 45%;}

    #news iframe{top:90%; height:240px;}

    #news .bottom{top:29%;}
}

@media screen and (max-width:480px){
    #news{height:950px;}
    #news .inner{width:320px}

    #news .title{width:120px;}
    #news .more{top:34%; left:3%; width:90px; height:30px;}
    #news .more>a{font-size:11px; line-height: 30px;}

    #news .txt{top:10%; left:48%; font-size:12px; line-height: 20px;}
    #news .txt::before{margin-bottom:10px;}
    #news .txt_02{top: 40%; left:48%; font-size:11px;}

    #news iframe{top:69%; height:200px;}

    #news .bottom{top:22%; padding:0 20px;}

    #news .swiper-button-prev{ transform: translate(-18px ,-22px);}
    #news .swiper-button-next{ transform: translate(18px ,-22px);}


}


/*---------franchisee------------------------------------------------------*/
#franchisee{padding-top:120px;}
#franchisee .inner{width:100%; position: relative;}
#franchisee .title{font-size:30px; font-weight: bold; text-align: center; margin-top:40px;}
#franchisee .txt_01{font-size:16px; line-height: 24px; color: #777; text-align: center;  margin-top: 10px;}

#franchisee .num_wrap{width:100%; padding:40px 0;}
#franchisee .num_wrap::after{content:''; display: block; clear: both;}
#franchisee .num_wrap>div{float:left; width:50%; height:500px; }

#franchisee .num_wrap .contry{position: relative; background: url(../img/가맹점_02.jpg) no-repeat center; background-size: cover;}
#franchisee .num_wrap .contry #msg{position: absolute; top:32%; left:50%;}
#franchisee .num_wrap .contry .name{font-size:40px;text-align: center;  color: #fff; margin-bottom:20px; padding-bottom: 20px; border-bottom: 2px solid #fff; } 
#franchisee .num_wrap .contry .counter{font-size:97px; font-weight: bold; color: #fff;}
#franchisee .num_wrap .contry .unit{font-size:40px;  color: #fff;}

#franchisee .num_wrap .contry.on{background: #f6f6f6;} 
#franchisee .num_wrap .contry.on .name{border-bottom: 2px solid #000; color:#000;  }
#franchisee .num_wrap .contry.on .counter,
#franchisee .num_wrap .contry.on .unit{color: #000;}

#franchisee .num_wrap .store{position: relative; background: #f6f6f6;}
#franchisee .num_wrap .store #msg{position: absolute; top:32%; left:20%;}
#franchisee .num_wrap .store .name{font-size:40px; text-align: center; border-bottom: 2px solid #000; margin-bottom:20px; padding-bottom: 20px;}
#franchisee .num_wrap .store .counter{font-size:97px; font-weight: bold;}
#franchisee .num_wrap .store .unit{font-size:40px;}

#franchisee .num_wrap .store.on{background: url(../img/가맹점_01.jpg) no-repeat center ; background-size: cover;}
#franchisee .num_wrap .store.on .name{color: #fff; border-bottom: 2px solid #fff; } 
#franchisee .num_wrap .store.on .counter,
#franchisee .num_wrap .store.on .unit{color: #fff;}

#franchisee .txt_02{font-size:16px; color: #777; line-height: 24px; text-align: center; margin-bottom:20px;}
#franchisee .more{margin: 0 auto; width:170px; height:45px; border-radius: 30px; border: 1px solid #000;}
#franchisee .more>a{display: block; font-size:14px; color:  #000; line-height: 45px; text-align: center;  }

@media screen and (max-width:1200px){
    #franchisee{padding:100px 0px;}

    #franchisee .title{font-size:24px; margin-top:40px;}
    #franchisee .txt_01{font-size:14px; line-height: 24px; margin-top: 10px;}

    #franchisee .num_wrap .contry #msg{left:30%;}

    #franchisee .num_wrap .contry .name,
    #franchisee .num_wrap .store .name{font-size:30px;} 
    #franchisee .num_wrap .contry .counter,
    #franchisee .num_wrap .store .counter{font-size:87px;}
    #franchisee .num_wrap .contry .unit,
    #franchisee .num_wrap .store .unit{font-size:30px;}

    #franchisee .txt_02{font-size:14px; line-height: 24px; margin-bottom:20px;}
    #franchisee .more{width:150px; height:40px;}
    #franchisee .more>a{font-size:14px;line-height: 40px;}
}

@media screen and (max-width:980px){
    #franchisee{height:auto; padding:80px 0px;}
    #franchisee .txt_01{font-size:12px; line-height: 22px;}

    #franchisee .num_wrap>div{height:450px;}

    #franchisee .num_wrap .contry #msg{top:36%;}
    #franchisee .num_wrap .store #msg{top:36%;}

    #franchisee .num_wrap .contry .name,
    #franchisee .num_wrap .store .name{font-size:20px;} 
    #franchisee .num_wrap .contry .counter,
    #franchisee .num_wrap .store .counter{font-size:65px;}
    #franchisee .num_wrap .contry .unit,
    #franchisee .num_wrap .store .unit{font-size:20px;}
}

@media screen and (max-width:768px){
    #franchisee .num_wrap>div{height:400px;}

    #franchisee .num_wrap .contry #msg{top:34%; left:30%;}
    #franchisee .num_wrap .store #msg{top:34%; left:25%;}

    #franchisee .num_wrap .contry .counter,
    #franchisee .num_wrap .store .counter{font-size:60px;}
    
}

@media screen and (max-width:640px){
    #franchisee{padding:60px 0px;}
    #franchisee .txt_01{font-size:12px; width:80%;  margin:20px auto 0; line-height: 20px;}

    #franchisee .num_wrap>div{height:350px;}

    #franchisee .num_wrap .contry #msg{top:39%; left:26%;}
    #franchisee .num_wrap .store #msg{top:39%;}

    #franchisee .num_wrap .contry .name,
    #franchisee .num_wrap .store .name{margin-bottom: 10px; padding-bottom: 10px;} 
    #franchisee .num_wrap .contry .counter,
    #franchisee .num_wrap .store .counter{font-size:40px;}

}

@media screen and (max-width:480px){

    #franchisee .num_wrap>div{height:300px;}

    #franchisee .num_wrap .contry #msg{left:24%;}
    #franchisee .num_wrap .store #msg{left:22%;}

    #franchisee .num_wrap .contry .name,
    #franchisee .num_wrap .store .name{font-size:16px;} 
    #franchisee .num_wrap .contry .counter,
    #franchisee .num_wrap .store .counter{font-size:30px;}
    #franchisee .num_wrap .contry .unit,
    #franchisee .num_wrap .store .unit{font-size:16px;}

    #franchisee .txt_02{font-size:13px; line-height: 23px; margin-bottom:10px;}
    #franchisee .more{width:100px; height:30px;}
    #franchisee .more>a{font-size:12px;line-height: 30px;}
    
}


