*{box-sizing: border-box;}
a{text-decoration: none;}
ol,ul,li{list-style: none;}
button{outline: none; border: none;}

/*---------header------------------------------------------------------*/
#header{width:100%; height:80px; position: fixed; z-index: 2; }
#header a{color: #fff;}
#header.on a{color: #444;}

#header .inner{width:1760px; margin: 0 auto;}
#header .inner::after{content:''; clear: both; display: block;}

#header .logo{float:left; width:206px; margin-top:10px; }
#header .logo>a{display: block; }
#header .logo img{width:100%;}

#header .toggle{display:none;}
#header .m_logo{opacity:0;  position: absolute; top:5px; left:10px; width:180px; z-index: 4;}

#header .gnb_wrap{float:right;}

#gnb{margin:40px 40px 0 0;}
#gnb>li{float:left; position: relative;}
#gnb>li::after{
    content:''; display: block; width:100%; height:2px; background: #ffce33; 
    position: absolute; top:30px; right:0;  transform: scaleX(0); transition: 0.3s;
 }
#gnb>li:hover::after{transform: scaleX(0.5);}
#gnb>li>a{display: block; text-align: center; width:auto; padding: 0 40px; font-size:17px; line-height: 30px; font-weight: bold; }
#gnb>li:hover>a{color: #ffce33;}

#gnb .submenu{display:none; position: absolute; top:25px; left:15px; background: #f6f6f6; margin-top: 20px;}
#gnb .submenu>li{text-align: left; width:200px; padding:0 20px; }
#gnb .submenu>li>a{display: block; line-height: 40px; font-size:14px; color: #777;}
#gnb .submenu>li:hover{background: #ffce33;}
#gnb .submenu>li:hover>a{color: #fff;}

.pagenation{position: fixed; left: 50px; top: 50%; width: 80px; transform: translateY(-50%); z-index: 1; }
.pagenation > a{ 
    display: block; width: 13px; height: 13px; margin: 15px 0px; line-height: 8px;
    font-size: 10px; color: transparent;
    border: 1px solid #ffce33; border-radius: 12px; text-align: center; text-transform: uppercase;
    transition: 0.3s;
}
.pagenation > a.on{width: 100px; color: white; background:#ffce33;}
.pagenation > a:hover{width: 100px; color: white; background:#ffce33;}

@media screen and (max-width:1200px){
    #header .inner{width:100%; padding: 0 40px;}
    #header .logo{width:180px;}
    #gnb{margin:30px 60px 0 0;}
    #gnb>li>a{padding:0 30px; font-size:16px; }
    #gnb .submenu>li{width:180px;}
    .pagenation{top: 40%;}
    
}

@media screen and (max-width:980px){
    #header .toggle{background: #fff; width:45px; height:45px; border-radius: 100%; position: absolute; top:20px; right:40px; cursor: pointer; z-index: 4;}
    #header .toggle>i{display: block; text-align: center; line-height: 45px; font-size:24px; color: #ffce33; }
    #header .toggle.cancle{display: none;}
    #header .toggle.bar{display: block;}

    #header .toggle.cancle.on{display: block;}
    #header .toggle.bar.on{display: none;}

    #header .m_logo.on{opacity: 1; transition: 0.3s 0.3s;}
    #header .m_logo img{width:100%;}

    #header .gnb_wrap{
        float:none;  position: fixed; top:0; left:0; background:#029846; width:100%; height:100%; z-index: 3;
        opacity: 0; transform: translateX(1000px); transition: 0.5s;
    }
    #header .gnb_wrap.on{opacity: 1; transform: translateX(0);}

    #gnb{margin:100px 0 0 0;}
    #gnb>li{width:100%;}
    #gnb>li::after{display: none;}
    #gnb>li>a{text-align:left; padding: 0 40px; font-size:20px; line-height: 60px;}
    #gnb>li>a::after{content:''; display: block; width:100%; height:1px; background: #03b653;}
    #gnb>li:hover>a{color: #ffce33;}

    #gnb .submenu{display: none; position:static; width:100%; padding: 20px 20px; background: #029846; margin-top: 0px;}
    #gnb .submenu::after{content:''; display: block; clear: both;}
    #gnb .submenu>li{float:left; width: auto; padding:0 20px; }
    #gnb .submenu>li>a{color: #0ae76e;}
    #gnb .submenu>li:hover{background: none;}
    #gnb .submenu>li:hover>a{color: #ffce33;}

    .pagenation{display: none;}

}

@media screen and (max-width:768px){
    #header {height:70px;}
    #header .logo{width:140px; margin-top:13px;}
    #header .toggle{width:40px; height:40px; top:10px; right:20px; box-shadow: 5px 4px 5px rgba(0,0,0,0.1);}
    #header .toggle>i{line-height:40px; font-size:20px;}
}

@media screen and (max-width:640px){
    #header .inner{padding:0 20px;}
    #header .m_logo.on{width:160px; top:10px;}
    #gnb{margin:80px 0 0 0;}
}

@media screen and (max-width:480px){
    #header{height:60px;}
    #header .logo{width:110px;  }
    #header .m_logo.on{width:140px; top:10px;}
    #header .toggle{width:35px; height:35px; top:10px;}
    #header .toggle>i{line-height:35px; font-size:16px;}

    #gnb>li>a{font-size:18px; line-height: 60px;}
}



/*---------visual------------------------------------------------------*/
#visual{position: relative; width:100%; height:100vh; overflow: hidden; z-index: 0;}
#visual .swiper-container{position: absolute; top:0px; width:50%; height:100%;}
#visual .swiper-container .swiper-slide{width:100%;}
/*--left------*/
#visual .left{left:0;}
#visual .left .swiper-slide{background-repeat: no-repeat; background-size: cover; background-position: center;}
#visual .left .swiper-slide:nth-of-type(1){background-image: url(../img/visual_left_01.jpg);}
#visual .left .swiper-slide:nth-of-type(2){background-image: url(../img/visual_left_02.jpg);}
#visual .left .swiper-slide:nth-of-type(3){background-image: url(../img/visual_left_03.jpg);}
/*--right------*/
#visual .right{right:0; background: #029846;}
#visual .right .swiper-slide{opacity:0;}
#visual .right .swiper-slide .msg{position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
#visual .right .swiper-slide .msg span{display:inline-block;}
#visual .right .swiper-slide .msg .txt,
#visual .right .swiper-slide .msg .txt_01{opacity: 0; transform:translateY(-30px); transition: 0.5s 0.2s;}
#visual .right .swiper-slide .msg .title_01{opacity: 0; transform:translateY(30px); transition: 0.5s 0.4s;}
#visual .right .swiper-slide .msg .title_02,
#visual .right .swiper-slide .msg .title_03{opacity: 0; transform:translateY(30px); transition: 0.5s 0.6s;}

#visual .right .swiper-slide .msg .more{
    width:170px; height:50px; border: 2px solid #fff; border-radius: 30px; margin-top:60px;
    opacity:0; transition: 0.5s 0.8s;
}
#visual .right .swiper-slide .msg .more>a{display: block; font-size:14px; font-weight: bold; color: #fff; text-align: center; line-height: 50px; }

/*--active--*/
#visual .right .swiper-slide-active{opacity:1;}
#visual .right .swiper-slide-active .msg .txt,
#visual .right .swiper-slide-active .msg .txt_01{opacity: 1; transform:translateY(0px);}
#visual .right .swiper-slide-active .msg .title_01{opacity:1; transform:translateY(0px);}
#visual .right .swiper-slide-active .msg .title_02,
#visual .right .swiper-slide-active .msg .title_03{opacity:1; transform:translateY(0px);}
#visual .right .swiper-slide-active .msg .more{opacity:1;}

#visual .right .swiper-slide.box_01 .msg{left:53%;}
#visual .right .swiper-slide.box_01 .msg .txt{font-size:18px; color: #fff;}
#visual .right .swiper-slide.box_01 .msg .title_01{font-size:50px; font-weight:bold; margin:30px 0 20px; color: #fff; }
#visual .right .swiper-slide.box_01 .msg .title_02{font-size:90px; font-weight:bold; letter-spacing: 20px;  margin-bottom:10px; color:#ffce33;}
#visual .right .swiper-slide.box_01 .msg .title_03{font-size:70px; font-weight:bold; color:#ffce33;}

#visual .right .swiper-slide.box_02 .msg{left:47%;}
#visual .right .swiper-slide.box_02 .msg .txt{font-size:24px; color: #ffce33; padding-left:20px;}
#visual .right .swiper-slide.box_02 .msg .txt_01{font-size:18px; color: #fff;}
#visual .right .swiper-slide.box_02 .msg .title_01{font-size:90px; color: #ffce33; font-weight:bold; margin:30px 0 20px; }
#visual .right .swiper-slide.box_02 .msg .title_02{font-size:90px; color: #ffce33;}
#visual .right .swiper-slide.box_02 .msg .title_03{font-size:90px; color: #fff;}

#visual .right .swiper-slide.box_03 .msg{left:48%;}
#visual .right .swiper-slide.box_03 .msg .txt{font-size:24px; color: #fff;  padding-left:20px;}
#visual .right .swiper-slide.box_03 .msg .title_01{font-size:90px; color: #ffce33; font-weight:bold; margin:20px 0 20px; }
#visual .right .swiper-slide.box_03 .msg .title_02{font-size:70px; color: #fff;}
/*--center------*/
#visual .center{
    top:50%; left:50%; margin: -11% 0 0 -18%; width:600px;
    animation: center_slide_rotate 18s infinite linear; transition: 0.5s;
}
#visual .center .swiper-slide img{width:100%; opacity:0; transition:0.4s;}
#visual .center .swiper-slide-active img{opacity:1;}
/*--icon------*/
#visual .icon-btn{position: absolute; right:3%; top:30%; z-index: 3;}
#visual .icon-btn .icon{margin-bottom:20px;}
#visual .icon-btn .circle{width:60px; height:60px; border-radius: 100%; background: #03863e; box-shadow: 5px 5px 5px rgba(0,0,0,0.2); transition: 0.5s;}
#visual .icon-btn .circle>a{display: block; font-size:20px; color: #fff;  text-align: center; line-height: 60px;}
#visual .icon-btn .name{text-align: center; margin-top:10px; font-size: 14px; color: #fff;}
#visual .icon-btn .circle:hover{background: #ffce33;}
/*--btn------*/
#visual .swiper-btn{position: absolute; left: 50%; bottom: 45px; z-index: 10; transform: translateX(-50%); width: 620px; z-index: 1;}
#visual .swiper-btn .swiper-button-next,
#visual .swiper-btn .swiper-button-prev{width: 300px; height: 100px; overflow: hidden; border: 0; outline: 0;}
#visual .swiper-btn .swiper-button-next::after,
#visual .swiper-btn .swiper-button-prev::after{
    position: absolute; left: 0px; top: 0px; width: 100%; height: 180%; padding: 30px 4rem; box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7); border-radius: 100%; font-size:16px; line-height: 24px; color: white; 
}
#visual .swiper-btn .swiper-button-next::after{content: 'NEXT'; left: -51%; text-align: right}
#visual .swiper-btn .swiper-button-prev::after{content: 'PREV'; left: 51%; text-align: left}
@keyframes center_slide_rotate{
    10%, 30%, 50%, 70%, 90%{transform: rotate(4deg);}
    20%, 40%, 60%, 80%, 100%{transform: rotate(-4deg);}
}
#visual .swiper-pagination-fraction{
    position: absolute; left: 50%; bottom: -10px; transform: translateX(-50%); 
    width: 70px; height: 70px; border-radius: 100%; background: #029846; font-size: 30px; color: white;
    line-height: 64px; border: 3px solid white;
}
#visual .swiper-pagination-fraction span.slash,
#visual .swiper-pagination-fraction span.swiper-pagination-total{display: none}

@media screen and (max-width:1200px){
    #visual{height:800px;}

    #visual .center{margin: -15% 0 0 -28%; width:350px;}

    #visual .right .swiper-slide.box_01 .msg{left:47%;}
    #visual .right .swiper-slide.box_01 .msg .txt{font-size:17px; margin-left:5px;}
    #visual .right .swiper-slide.box_01 .msg .title_01{font-size:34px; margin:30px 0 20px;}
    #visual .right .swiper-slide.box_01 .msg .title_02{font-size:69px; letter-spacing: 7px;}
    #visual .right .swiper-slide.box_01 .msg .title_03{font-size:49px; }

    #visual .right .swiper-slide.box_02 .msg{left:45%;}
    #visual .right .swiper-slide.box_02 .msg .txt{font-size:17px;}
    #visual .right .swiper-slide.box_02 .msg .txt_01{font-size:15px; }
    #visual .right .swiper-slide.box_02 .msg .title_01{font-size:59px; margin:20px 0 10px; }
    #visual .right .swiper-slide.box_02 .msg .title_02{font-size:59px; }
    #visual .right .swiper-slide.box_02 .msg .title_03{font-size:59px; }

    #visual .right .swiper-slide.box_03 .msg{left:45%;}
    #visual .right .swiper-slide.box_03 .msg .txt{font-size:17px;}
    #visual .right .swiper-slide.box_03 .msg .title_01{font-size:69px;}
    #visual .right .swiper-slide.box_03 .msg .title_02{font-size:35px; }

    #visual .icon-btn .circle{width:45px; height:45px; margin:0 auto;}
    #visual .icon-btn .circle>a{font-size:20px; line-height: 45px;}
    #visual .icon-btn .name{ font-size:14px;}

}

@media screen and (max-width:980px){
    #visual{height:700px;}
    #visual .icon-btn{display: none;}

    #visual .center{margin: -15% 0 0 -24%; width:250px;}

    #visual .right .swiper-slide.box_01 .msg{left:54%;}
    #visual .right .swiper-slide.box_01 .msg .txt{font-size:17px;}
    #visual .right .swiper-slide.box_01 .msg .title_01{font-size:28px; margin:20px 0 10px;}
    #visual .right .swiper-slide.box_01 .msg .title_02{font-size:54px;}
    #visual .right .swiper-slide.box_01 .msg .title_03{font-size:40px; }

    #visual .right .swiper-slide.box_02 .msg{left:45%;}
    #visual .right .swiper-slide.box_02 .msg .txt{font-size:17px;}
    #visual .right .swiper-slide.box_02 .msg .txt_01{font-size:15px; }
    #visual .right .swiper-slide.box_02 .msg .title_01{font-size:59px; margin:20px 0 10px; }
    #visual .right .swiper-slide.box_02 .msg .title_02{font-size:59px; }
    #visual .right .swiper-slide.box_02 .msg .title_03{font-size:59px; }

    #visual .right .swiper-slide.box_03 .msg{left:45%;}
    #visual .right .swiper-slide.box_03 .msg .txt{font-size:17px;}
    #visual .right .swiper-slide.box_03 .msg .title_01{font-size:69px;}
    #visual .right .swiper-slide.box_03 .msg .title_02{font-size:35px; }

    #visual .icon-btn .circle{width:45px; height:45px; margin:0 auto;}
    #visual .icon-btn .circle>a{font-size:20px; line-height: 45px;}
    #visual .icon-btn .name{ font-size:14px;}

    #visual .right .swiper-slide .msg .more{width:150px; height:40px; margin-top:40px;}
    #visual .right .swiper-slide .msg .more>a{font-size:14px; line-height: 40px; }

    #visual .swiper-btn{bottom: 38px;}
    #visual .swiper-btn .swiper-button-next::after,
    #visual .swiper-btn .swiper-button-prev::after{width:90%; height: 169%;}

    #visual .swiper-btn .swiper-button-prev::after{left: 60%; font-size:14px;}
    #visual .swiper-btn .swiper-button-next::after{font-size:14px;}

    #visual .swiper-pagination-fraction{bottom: 0px; width: 60px; height: 60px; font-size: 24px; line-height: 54px;}

}

@media screen and (max-width:768px){
    #visual{padding-top:70px;}
    #visual .swiper-container{top:70px;}
    #visual .left{width:100%;}
    #visual .right{display: none;}

    #visual .center{margin: 62% 0 0 15%;}

    #visual .swiper-btn{left:15%;}

    #visual .swiper-pagination-fraction{width: 50px; height: 50px; font-size: 20px; line-height: 44px;}

}

@media screen and (max-width:640px){
    
    #visual .center{margin: 76% 0 0 11%; width:230px;}
    
}

@media screen and (max-width:480px){
    #visual{height:800px;}
    #visual{padding-top:60px;}
    #visual .swiper-container{top:60px;}

    #visual .left .swiper-slide:nth-of-type(1){background-position: 3% 0 ;}

    #visual .center{margin: 119% 0 0 -30%;}

    #visual .swiper-btn{left:50%;}

    #visual .swiper-pagination-fraction{width: 40px; height: 40px; font-size: 14px; line-height: 34px;}

}


/*---------common------------------------------------------------------*/
.content{width:100%; height:100vh;}
.content .inner{margin: 0 auto;}
.content .inner::after{content:''; clear: both; display: block;}

/*---------menu------------------------------------------------------*/
#menu{ padding-top:120px;}
#menu .inner{width:1180px; position: relative;}
#menu .title{width:330px; margin: 0 auto;}
#menu .title img{display:block; width:100%; text-align: center;}
#menu .txt{font-size:16px; color: #777; text-align: center;}

#menu .icon_menu{position: absolute; top:188px; left:50%; transform: translate(-50%,-50%);}
#menu .icon_menu>li{float:left; padding:0 20px; text-align: center; cursor: pointer;}
#menu .icon_menu>li img{width:50px;}
#menu .icon_menu>li img:nth-of-type(1){opacity: 1;}
#menu .icon_menu>li img:nth-of-type(2){opacity: 0; margin-left:-50px;}
#menu .icon_menu>li .name{font-size:14px; color: #000;}

#menu .icon_menu>li.on img:nth-of-type(1){opacity: 0;}
#menu .icon_menu>li.on img:nth-of-type(2){opacity: 1;}
#menu .icon_menu>li.on .name{color: #ffce33;}

#menu .pannel{position: relative; margin-top:150px;}
#menu .pannel>li .box{opacity: 0; position: absolute; width:31.333%; height:400px; background: #f6f6f6; border-radius: 30px;  margin-right:3%; cursor: pointer;}
#menu .pannel>li .box:nth-of-type(1){top:0; left:0;}
#menu .pannel>li .box:nth-of-type(2){top:0; left:34%;}
#menu .pannel>li .box:nth-of-type(3){top:0; right:0; margin-right: 0;}

#menu .pannel>li.on .box{opacity: 1;}


#menu .pannel>li .box .pic{width:100%; margin-top:20px;}
#menu .pannel>li .box .pic img{width:100%;}
#menu .pannel>li .box .msg{
    position: absolute; top:75%; left:50%; transform: translate(-50%,-50%); text-align: center; width:100%;
     
}
#menu .pannel>li .box .msg .name{font-size:24px; font-weight: 500; margin-bottom:20px;}
#menu .pannel>li .box .msg .span{display: inline-block; font-size:14px;}
#menu .pannel>li .box .msg .eng{font-size:14px; color: #777; margin-right:10px;}
#menu .pannel>li .box .msg .eng::after{content:''; display: inline-block; width:1px; height:15px; margin-left:10px; background: #ddd;}
#menu .pannel>li .box .msg .calorie{font-size:18px; font-weight: bold; color: #ffce33;}
#menu .pannel>li .box .intro{
    opacity:0; position: absolute; top:55%; left:50%; transform: translate(-50%, 0%); width:75%; 
    text-align: center; line-height: 24px; color: #c5e698;  
}
#menu .pannel>li .box .search{transform: scale(0,0); width:60px; height:60px; border-radius: 100%; background: #ffce33; margin:0 auto;}    
#menu .pannel>li .box .search>a{display:block; color: #fff; font-size:25px; text-align: center; line-height: 60px;}

#menu .pannel>li .box.on{background: #029846;}
#menu .pannel>li .box.on .pic{opacity: 0;}
#menu .pannel>li .box.on .msg{top:30%; transition: 0.5s;}
#menu .pannel>li .box.on .msg .name{color: #fff;}
#menu .pannel>li .box.on .msg .eng{color: #fff;}
#menu .pannel>li .box.on .intro{opacity: 1; transform: translate(-50%,-50%); transition: 0.5s 0.3s; }
#menu .pannel>li .box.on .search{opacity: 1; transform: scale(1,1);  transition: 0.5s 0.4s;}

#menu .circle_area{position: absolute; top:64%; right:-17%; width:400px; z-index: -1;}
#menu .circle_area .circle_pic{width:100%; opacity: 0.1; animation:rotate_image 20s linear infinite; transform-origin: 50% 50%;}

@keyframes rotate_image{
    100% {transform:rotate(360deg);}
}

/*---------brand------------------------------------------------------*/
#brand .inner{position: relative; width:100%; height:100%;}
#brand .box{
    position: relative; float:left; width:33.3%; height:100%;
    background-position: center; background-repeat: no-repeat; background-size: cover;
}
#brand .box::after{content: ''; display: block; position: absolute; top:0; left:0; width:100%; height:100%; background: rgba(0,0,0,0.2); transition: 0.5s;}
#brand .box:hover::after{ background: rgba(0,0,0,0.6);}
#brand .box.box:nth-of-type(1){background-image: url(../img/brand_05.jpg);}
#brand .box.box:nth-of-type(2){background-image: url(../img/brand_02.jpg);}
#brand .box.box:nth-of-type(3){background-image: url(../img/brand_04.jpg);}


#brand .box .msg{position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); text-align: center; width:45%; z-index: 2; }
#brand .box .msg .title{font-size:33px; line-height: 43px; font-weight:bold; color: #fff; margin-bottom:40px;}

#brand .box .msg .more{width:170px; height:50px; border: 1px solid #fff; border-radius: 30px; margin:0 auto; }
#brand .box .msg .more>a{display: block; font-size:14px; line-height: 50px; color: #fff;}

/*---------news------------------------------------------------------*/
#news{padding-top:120px; background: #f6f6f6;} 
#news .inner{width:100%; position: relative;}
#news{width:100%; height:100vh; padding-top:120px; background: #f6f6f6;}
#news .inner{width:1500px; height:100%; margin: 0 auto;}
#news .inner::after{content:''; display: block; clear: both;}
 
#news .top{position: relative; width:1300px; height:25%; margin: 0 auto; }
#news .title{float:left; width:200px;}
#news .title img{display: block; width:100%;}
#news .more{position: absolute; bottom:0; left:1%; width:150px; height:45px; 
    border-radius: 30px; background: #029846;}
#news .more>a{display: block; font-size:14px; color: #fff; line-height: 45px; text-align: center; }
#news .more>a::after{font-family: 'Font Awesome 5 Free'; content:'\f054'; color: #ffce33; font-weight: 900; margin-left:10px; }
#news .txt{position: absolute; top: 10%; left:25%; font-size: 16px; opacity:0; transform: translateY(20px); transition: 0.5s 0.3s;  }
#news .txt::before{content:''; display: block; width:15%; height:4px; background: #ffce33; margin-bottom: 20px;}
#news .txt_02{position: absolute; top: 35%; left:25%; font-size: 13px; color: #777; opacity:0; transform: translateY(20px); transition: 0.5s 0.3s; }

#news.on .txt{opacity:1; transform: translateY(0);}
#news.on .txt_02{opacity:1; transform: translateY(0);}

#news iframe{float:right;}

#news .bottom{position: relative; width:100%; height:80%; padding-top:100px; }
#news .swiper-container{width:1300px; height:500px; margin: 0 auto;  }
#news .swiper-container .swiper-slide{width:100%;}

#news .swiper-slide{overflow: hidden; cursor: pointer;}
#news .swiper-slide .pic{
    width:100%; height:300px; border-top-right-radius:50px; overflow: hidden; transform: scale(1); transition: 0.3s; 
    background-repeat: no-repeat; background-size: cover; background-position: center;
}
#news .swiper-slide.box_01 .pic{background-image: url(../img/news_04.jpg);}
#news .swiper-slide.box_02 .pic{background-image: url(../img/news_05.jpg);}
#news .swiper-slide.box_03 .pic{background-image: url(../img/news_06.jpg);}
#news .swiper-slide.box_04 .pic{background-image: url(../img/news_07.jpg);}
#news .swiper-slide.box_05 .pic{background-image: url(../img/news_08.jpg);}

#news .swiper-slide:hover .pic{transform: scale(1.1); }

#news .swiper-slide .msg{position: absolute; top:60%; left:0; background: #fff; border: 1px solid #ddd; width:100%; height:170px; }
#news .swiper-slide .msg_wrap{width:90%; height:100%; padding:20px;}
#news .swiper-slide .msg .date{font-size:16px; font-weight: bold; color: #029846; margin-bottom: 20px;}
#news .swiper-slide .msg .news_title{font-size:18px; margin-bottom: 10px;;}
#news .swiper-slide .msg .summury{font-size:14px; line-height: 20px; color: #777;}

#news .swiper-button-prev{ transform: translateY(-120px);}
#news .swiper-button-next{ transform: translateY(-120px);}


/*---------franchisee------------------------------------------------------*/
#franchisee{padding-top:120px;}
#franchisee .inner{width:100%; position: relative;}
#franchisee .title{font-size:30px; font-weight: bold; text-align: center; margin-top:40px;}
#franchisee .txt_01{font-size:16px; line-height: 24px; color: #777; text-align: center;  margin-top: 10px;}

#franchisee .num_wrap{width:100%; padding:40px 0;}
#franchisee .num_wrap::after{content:''; display: block; clear: both;}
#franchisee .num_wrap>div{float:left; width:50%; height:500px; }

#franchisee .num_wrap .contry{position: relative; background-image: url(../img/가맹점_02.jpg);}
#franchisee .num_wrap .contry #msg{position: absolute; top:32%; left:50%;}
#franchisee .num_wrap .contry .name{font-size:40px;text-align: center;  color: #fff; margin-bottom:20px; padding-bottom: 20px; border-bottom: 2px solid #fff; } 
#franchisee .num_wrap .contry .counter{font-size:97px; font-weight: bold; color: #fff;}
#franchisee .num_wrap .contry .unit{font-size:40px;  color: #fff;}

#franchisee .num_wrap .contry.on{background: #f6f6f6;} 
#franchisee .num_wrap .contry.on .name{border-bottom: 2px solid #000; color:#000;  }
#franchisee .num_wrap .contry.on .counter,
#franchisee .num_wrap .contry.on .unit{color: #000;}

#franchisee .num_wrap .store{position: relative; background: #f6f6f6;}
#franchisee .num_wrap .store #msg{position: absolute; top:32%; left:20%;}
#franchisee .num_wrap .store .name{font-size:40px; text-align: center; border-bottom: 2px solid #000; margin-bottom:20px; padding-bottom: 20px;}
#franchisee .num_wrap .store .counter{font-size:97px; font-weight: bold;}
#franchisee .num_wrap .store .unit{font-size:40px;}

#franchisee .num_wrap .store.on{background-image: url(../img/가맹점_01.jpg);}
#franchisee .num_wrap .store.on .name{color: #fff; border-bottom: 2px solid #fff; } 
#franchisee .num_wrap .store.on .counter,
#franchisee .num_wrap .store.on .unit{color: #fff;}

#franchisee .txt_02{font-size:16px; color: #777; line-height: 24px; text-align: center; margin-bottom:20px;}
#franchisee .more{margin: 0 auto; width:170px; height:45px; border-radius: 30px; border: 1px solid #000;}
#franchisee .more>a{display: block; font-size:14px; color:  #000; line-height: 45px; text-align: center;  }

/*---------footer------------------------------------------------------*/
#footer{width:100%; height:200px; background: #282828;}
#footer .top{width:100%; height:50px; border-bottom: 1px solid #444;}
#footer .top .wrap{width:775px; height:100%; margin: 0 auto;}
#footer .top li{float:left; padding: 0 40px;}
#footer .top li>a{display:block; color: #666; font-size:14px; line-height: 50px;}

#footer .bottom{text-align: center; padding: 40px 0;}
#footer .bottom span{display: inline-block;}
#footer .bottom .address,
#footer .bottom .phone,
#footer .bottom .buisness{font-size:14px; color: #666;}
#footer .bottom .address::after,
#footer .bottom .phone::after{content:''; display: inline-block; width:1px; height:10px; background-color: #666; margin:0 10px;}

#footer .bottom .copy{font-size:14px; color: #666; margin-top:10px;}